<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a
        [routerLink]="['/servers', server.id]"
        [queryParams]="{allowEdit: '1'}"
        [fragment]="'loading'"
        href="#"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <!-- This will give us an error as we are using the RELATIVE PATH -->
    <!-- <a routerLink="servers">Reload Page</a> -->

    <!-- However, if we use the ABSOLUTE PATH with the added '/', it will work -->
    <a routerLink="/servers">Reload Page</a>

    <!-- This is an option for using relative paths -->
    <a class="btn btn-primary" (click)="onRelod()">Reload Page</a>
    <app-edit-server></app-edit-server>
    <hr>
    <!-- <app-server></app-server> -->
  </div>
</div>

